:root {
    --depth-00: rgb(18,18,18); /*  0% #121212 */
    --depth-01: rgb(30,30,30); /*  5% #1e1e1e */
    --depth-02: rgb(35,35,35); /*  7% #232323 */
    --depth-03: rgb(37,37,37); /*  8% #252525 */
    --depth-04: rgb(39,39,39); /*  9% #272727 */
    --depth-06: rgb(44,44,44); /* 11% #2c2c2c */
    --depth-08: rgb(46,46,46); /* 12% #2e2e2e */
    --depth-12: rgb(51,51,51); /* 14% #333333 */
    --depth-16: rgb(54,54,54); /* 15% #363636 */
    --depth-24: rgb(56,56,56); /* 16% #383838 */
    
    --red: #ef9a9a;
    --blue: #90caf9;
    
    --main-text-color: rgba(255,255,255,0.87);
    --secondary-text-color: rgba(255,255,255,0.60);
    --disabled-text-color: rgba(255,255,255,0.38);
    --inverse-text-color: rgb(0,0,0);
    --saturated-text-color: #fff;
    --saturated-secondary-text-color: var(--secondary-text-color);
    --main-background-color: var(--depth-00);
    --card-background-color: var(--depth-01);
    
    --link-color: #81D4FA;
    --link-focus-color: #29B6F6;
    
    --scrollbar-track-focus-color: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
    --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.4);
    --scrollbar-thumb-focus-color: rgba(255, 255, 255, 0.5);
    
    --card-action-color: #FFCC80;
    --card-action-focus-color: #FFA726;
    
    --navbar-color: var(--depth-08);
    
    --sidenav-background-color: var(--depth-04);
    
    --nav-focus-background-color: rgba(255,255,255,0.04);
    --nav-active-color: #80DEEA;
    --nav-active-background-color: rgba(255,255,255,0.12);
    
    --footer-color: var(--depth-06);
    --footer-copyright-color: var(--depth-08);
    --footer-link-color: var(--secondary-text-color);
    --footer-link-focus-color: var(--main-text-color);

    --button-background-color: var(--red);
    --button-background-focus-color: rgb(255,138,128);
    --button-disabled-color: #DFDFDF;
    --button-disabled-text-color: #9F9F9F;
    --button-flat-text-color: var(--secondary-text-color);
    --button-flat-disabled-text-color: var(--disabled-text-color);
    --button-flat-focus-color: rgba(128,203,196,.08);
    
    --fab-color: var(--depth-12);
    --fab-focus-color: var(--depth-24);
    
    --modal-background-color: var(--depth-24);
    
    --divider-color: rgba(160,160,160,0.2);
    
    --blockquote-color: #FFCDD2;
    
    --pagination-active-color: #FFCDD2;
    --pagination-focus-color: rgba(255,255,255,.12);
    --pagination-inactive-text-color: var(--secondary-text-color);
    
    --breadcrumbs-background-color: var(--depth-01);
    
    --collection-border-color: var(--depth-24);
    --collection-background: var(--depth-02);
    --collection-avatar-background: var(--depth-24);
    --collection-link-color: #80CBC4;
    --collection-focus-color: var(--depth-06);
    
    --tooltip-color: #323232;
    
    --ripple-color: #fff;
    --ripple-light-color: #fff;
    --ripple-teal-color: #80cbc4;
    
    --text-field-underline-color: #9e9e9e;
    --text-field-focus-color: #26a69a;
    --text-field-valid-color: #A5D6A7;
    --text-field-invalid-color: #CF6679;
    
    --status-message-color: var(--depth-03);
    
    --loading-indicator-color: #db4437;
    
    --post-tags-label-color: #80DEEA;
    
    --index-post-title-color: var(--main-text-color);
    --index-post-title-focus-color: #EF9A9A;
    
    --donation-card-color: rgb(37,35,21);
    --donation-card-link-color: #8C9EFF;
    --donation-card-link-focus-color: #536DFE;
    
    --share-facebook-color: #B2DFDB;
    --share-facebook-focus-color: var(--share-facebook-color);
    --share-twitter-color: var(--share-facebook-color);
    --share-twitter-focus-color: var(--share-facebook-color);
    --share-reddit-color: var(--share-facebook-color);
    --share-reddit-focus-color: var(--share-facebook-color);
    --share-tumblr-color: var(--share-facebook-color);
    --share-tumblr-focus-color: var(--share-facebook-color);
    
    --update-banner-color: #B2DFDB;
    --update-banner-text-color: var(--inverse-text-color);
}


html,  body, .card-panel:not(.z-depth-0), button, input, select, textarea {
	word-spacing: .05em;
}

.nav-wrapper #menu-toggle.active ~ .menu-button:after, .nav-wrapper #menu-toggle:checked ~ .menu-button:after {
	opacity: 0.75;
}

img, img.lazyloaded, .adsbygoogle:not(.show-on-dark-theme-only),
.materialboxed:not(.active), .image-zoom .image-zoom-toggle:not(:checked) ~ .image-zoom-image img {
	opacity: .75;
	transition: opacity .5s ease-in-out;
}

img:hover, img.lazyloaded:hover, .adsbygoogle:not(.show-on-dark-theme-only):hover,
.materialboxed:hover:not(.active), .materialboxed.lazyloaded:hover:not(.active),
.image-zoom .image-zoom-toggle:not(:checked) ~ .image-zoom-image img:hover {
	opacity: 1;
}

.sidenav li.active > a {
	border: 1px rgba(255,255,255,0.87) solid;
	line-height: 46px;
}

@media (min-width: 601px) {
	.sidenav li.active > a {
		border-left: none;
	}
}

.sidenav li.active > a > svg {
	height: 46px;
}

.ripple:active:after,
.ripple.ripple-light:active:after {
	opacity: .1;
}

.share-btns> .col {
	text-align: center;
}

.share-btns .btn {
	width: auto;
	max-width: 100%;
}

.collection .collection-item,
.collection.with-header .collection-header * {
	line-height: 2.72rem;
}

/* For very special cases */
.show-on-light-theme-only {
	display: none !important;
}

.show-on-dark-theme-only {
	display: block !important;
}

/* Google Search pane on search page */
.cse .gsc-control-cse, .gsc-control-cse {
    background-color: var(--depth-01) !important;
    border: none !important;
    position: relative !important;
    margin: 0.5rem 0 1rem 0 !important;
    transition: box-shadow .25s !important;
    border-radius: 2px !important;
}

.gsc-above-wrapper-area {
    border-bottom: none !important;
}

.gsc-result-info {
    color: #a5a5a5 !important;
}

.gsc-expansionArea {
    border: 1px solid var(--depth-24) !important;
}

.gsc-webResult.gsc-result {
    border: none !important;
    border-bottom: 1px solid var(--depth-24) !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
    color: var(--link-color) !important;
}

.gs-result a.gs-visibleUrl, 
.gs-result .gs-visibleUrl {
    color: #81C784 !important;
}

.gsc-preview-reviews, 
.gsc-control-cse .gs-snippet, 
.gsc-control-cse .gs-promotion em, 
.gsc-control-cse .gs-snippet, 
.gsc-control-cse .gs-promotion em {
    color: #a5a5a5 !important;
}

.gsc-cursor {
    color: #a5a5a5 !important;
    fill: #a5a5a5 !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    color: rgba(255,255,255,0.87) !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    color: var(--link-color) !important;
}

.gcsc-find-more-on-google {
    color: var(--link-color) !important;
}

.gcsc-find-more-on-google-magnifier {
    fill: var(--link-color) !important;
}

.gsc-branding-text, .gcsc-branding-text {
    color: #BDBDBD !important;
}

.gsc-input-box {
    border: 1px solid var(--depth-24) !important;
    background: var(--depth-01) !important;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    background: var(--depth-01) !important;
}
