/* Fix Fonts */
html, button, input, optgroup, select, textarea {
	font-family: Roboto, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6, .brand-logo, .card-title {
	font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
}

strong {
	font-weight: revert;
}

.dc-list-pos .dc-list-no {
	font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
	font-weight: 600;
}

.dc-list-char {
	font-size: 1.05em;
}

/* Fix icon alignment for header icons and the like */
.post-header-home .material-icons,
.post-header .material-icons {
	vertical-align: middle;
	margin-top: -3px;
}

/* text sizes */

html {
	font-size: 100%;
	fill: rgba(0,0,0,0.87);
}

.card .card-title {
    font-size: 1.7rem;
}

@media only screen and (max-width: 600px) {
	.card .card-title {
		font-size: 1.2rem;
	}
}

.collection .collection-item.avatar .title {
	font-size: 1.1em;
	line-height: inherit;
	margin: 0;
}

.post-header {
    font-size: 0.75em;
}

.sidenav li > a {
    font-size: 0.875rem;
}

.page-footer #issue-tracker {
    font-size: 0.8em;
}



/* Better contrast for links */
a {
    color: #0277BD;
}

a:not(.brand-logo):not(.ripple):not(.rail-item):hover,
a:not(.brand-logo):not(.ripple):not(.rail-item):focus {
    color: #039BE5;
}

/* background */
body.main-body {
	background: #ffffff;
}

.post-single-outer {
    margin: -15px 0 0;
	padding: 12px;
	background: #ffffff;
}

.main-container #main.section {
	padding: 0;
	margin: 0;
}

.navbar-fixed > nav {
	background-color: #D32F2F;
}

/* Fix hero images not having height defined messing with aspect ratio */
.card .card-image img {
	height: auto;
    width: 100%;
}

/* Responsive iFrame */

.responsive-iframe-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

@media only screen and (max-width: 600px) {
	.responsive-iframe-container {
		padding-top: 150px;
	}
}

.responsive-iframe-container iframe,   
.responsive-iframe-container object,  
.responsive-iframe-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.responsive-iframe-container-width-only iframe,   
.responsive-iframe-container-width-only object,  
.responsive-iframe-container-width-only embed {
	/* position: absolute;
	top: 0;
	left: 0; */
	width: 100%;
}

/* Main text colors */
/*.body-fauxcolumn-outer, body,
.post {
    color: #616161;
}
.post-title, .sidebar .widget-content a,
.sidebar ul a, #related-posts h3,
.Label .widget-content li a, .Label li a {
	color: #212121;
}
.post blockquote, #header h1,
#header a, #header a:hover,
.post h2 a:hover {
	color: #9e9e9e;
}*/


/* Correct anchor positions for fixed header */
.anchor{
	float: left;
	display: block;
	/*height: 64px;*/ /*same height as header*/
	/*margin-top: -64px;*/ /*same height as header*/
	visibility: hidden;
}

.card .card-content .anchor + p {
	margin-block-start: auto;
}

/* Fix dropdown widths */
/*.dropdown-content {
	word-break: keep-all;
}*/

/* Hide fallback */
.hide {
	display: none !important;
}

.show {
	display: block !important;
}

span.show {
	display: inline !important;
}

.pagination.hide {
	display: block !important;
	visibility: hidden;
}

/* Fix share buttons on small phones */
/*@media only screen and (max-width: 600px) {
  .share_pfb,.share_pgo,.share_pli,.share_ptwi,.share_pred {
	  padding:6px 6px;
  }
}*/

/* Update banners */
.banner-update {
	font-family: oswald,Arial,sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	padding: 2px 6px;
	line-height: 1.5em;
	word-wrap: break-word;
}
.time-before-update {
	font-family: oswald,Arial,sans-serif;
	font-size: 0.8em;
}

/* Prevent auto-ads in element */
.hide-ads div.google-auto-placed {
	display:none !important;
}

/* Make pagination buttons look at behave like pagination links, since they should be buttons for the sake of accessibility */
.pagination {
    font-size: 1.2em;
    line-height: 1.67;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.pagination li a,
.pagination li button {
    color: #444;
    display: inline-block;
    padding: 0 0.52em;
    line-height: 1.5625em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    height: 1.5625em;
}
.pagination li {
    height: 1.5625em;
	user-select: none;
}

/* Make pagination buttons that should not do anything unlickable */
.pagination li.disabled a, .pagination li.active a,
.pagination li.disabled button, .pagination li.active button {
	background: none !important;
	pointer-events: none;
	cursor: default;
}

.pagination li a:focus,
.pagination li button:focus {
    background-color: rgba(0,0,0,.12);
    border-radius: 2px;
}

.pagination li.active a,
.pagination li.active button {
    color: #fff;
}

/* Better contrast for footer links */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #2E7D32;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover,
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):focus {
    color: #43A047;
}

/* Do not uppercase citation link footers */
.card .card-action cite a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	text-transform: inherit;
}

/* padding for post header */
.home-post-single-header {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.home-post-single-header h4 {
    margin-top: 0.27rem;
}

/* Padding for post image */
.homepage-thumb .card.horizontal {
	margin: 0;
}

.homepage-thumb .card.horizontal img {
	height: 11.0625em;
    width: 5.875em;
	object-fit: cover;
}
.post-timestamp, .index-comment-link, .post-comment-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Keep summary text under control */
.homepage-summary-thumb, homepage-summary-no-thumb {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	padding: 0 !important;
	margin: 24px !important;
}
@media only screen and (max-width: 600px) {
  .homepage-thumb .card.horizontal img {
		height: 13.0625em;
		width: 6.875em;
		object-fit: cover;
  }
  .homepage-thumb .card.horizontal .card-stacked .card-content {
	  padding-top: 0;
  }
  .post-title, .post-home-title {
	font-size: 1.3em;
  }
	.homepage-summary-thumb, homepage-summary-no-thumb {
		-webkit-line-clamp: 3;
	}
}

/* Begin breadcrumbs */
.nav-breadcrumbs {
	height: 2.25em;
	line-height: 2.25em;
	background-color: #B71C1C;
	margin: .5rem 0 1rem 0;
}
.breadcrumb {
	color: rgba(255,255,255,0.87);
    font-size: 1.125em;
}
/*.breadcrumb:last-child {
	color: rgba(21,21,21,1);
}
.breadcrumb:before {
	color: rgba(21,21,21,0.7) !important;
}*/
.breadcrumb > a {
	color: inherit !important;
}
.nav-breadcrumbs > .nav-wrapper > div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* End breadcrumbs */

/* Begin no wrap card links */
.card-action {
	overflow: hidden;
	text-overflow: ellipsis;
}
.card-action a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* End no wrap card links */

/* Begin fix homepage badges */

.home-post-above span.badge {
	float: none;
	margin-left: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .8em;
	font-weight: 400;
}

@media screen and (max-width: 600px) {
    .home-post-above {
        display: none;
    }
}

/* End fix homepage badges */

/* Begin post source citations */

.card-action cite {
	font-style: normal;
}
/* End post source citations */

/* Footer copyright color */
.footer-copyright * {
	color: inherit !important;
}

/* Full width on mobile */
.section {
	margin: 0 5px;
}

/* Comments on index pages not right next to timestamp */
.post-timestamp {
	margin-right: 6px;
}

/* Donation card panel sizing */
#donation-card {
	font-size: 0.9em;
}
#donation-card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #3949AB;
}

#donation-card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover,
#donation-card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):focus {
    color: #7986CB;
}

/* Make tags label clearly unclickable */
.post-tag-pre-label {
	pointer-events: none;
	cursor: default;
}

/* Fix paragraph margins */
.card .card-content p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* Fix widget line sizing */
.widget {
	line-height: 2;
}

/* Active icon label on modal search and email */
.input-field svg.prefix {
	height: 2rem;
	left: -.5rem;
	-webkit-transition: fill .2s;
	fill: rgba(0,0,0,0.87);
	transition: fill .2s;
}
#searchtext-modal .input-field .prefix.active,
#email-subscribe-form-modal .input-field .prefix.active,
#dcel-email-subscribe-form-modal .input-field .prefix.active {
	color: #F44336;
	fill: #F44336;
}

/* Popular search queries spacing */
#popularsearch-queries a, #queries a {
	margin-right: 24px;
}

/* Fix copyright footer vertical stretching */
.footer-copyright .row {
	margin: 0;
}

/* Fix body shift when opening modals */
body.main-body {
	overflow-y: initial !important;
}

/* Status messages like 404 */
.status-msg-body {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	padding: 1.5em;
	margin: 0.5rem 0 1rem 0;
	border-radius: 2px;
	background-color: #fff;
	font-size: 1.5em;
	font-weight: 300;
}

.CSS_LIGHTBOX {
    z-index: 9999!important
}

/* Index page author and timestamp header size */
.post-header-home {
    margin: 2px 2px 10px;
    font-size: 0.75rem;
}

/* Make timestamp not overlap author */
.post-timestamp {
    margin-left: 0;
}

/* Sticky footer */
body.main-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-container {
    flex: 1 0 auto;
}

/* Hide unecessary feed links section */
.blog-feeds,
.post-feeds {
    display: none
}

/* Related posts panel */
#related-posts a {
    text-align: center;
}
/* Set size of image container to fit the image even before loading for the sake of lazy loading */
#related-posts .card .card-image {
	padding-top: 56.25%;
}
#related-posts .card .card-image img {
	position: absolute;
}

.imgpost {
	padding: 12px !important;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.col-padding-0 {
    padding: 0
}

/* Index post header title link color */
.post-main-home-title a {
    color: #282b2d!important;
    transition: all .6s ease
}

.post-main-home-title a:hover {
    color: #f0636d!important
}

/* Share buttons */
.share-btns .btn {
	width: 100%;
}

.share-btn-pfb {
    background: #4c66a4
}

.share-btn-pfb:hover {
    background: #517bb7
}

.share-btn-pfb:focus {
    background: #433d7e
}

.share-btn-ptwi {
    background: #0063b3;
}

.share-btn-ptwi:hover,
.share-btn-ptwi:focus {
    background: #00c3f3
}

/*.share-btn-pli {
    background: #0274b3
}

.share-btn-pli:hover {
    background: #0894c6
}

.share-btn-pli:focus {
    background: #00528d
}*/

/*.share-btn-pgo {
    background: #db4a37
}

.share-btn-pgo:hover {
    background: #e05f4a
}

.share-btn-pgo:focus {
    background: #d22113
}*/

.share-btn-pred {
    background: #df0500
}

.share-btn-pred:hover,
.share-btn-pred:focus {
    background: #ff4500
}

.share-btn-ptbr {
    background: #32506d
}

.share-btn-ptbr:hover {
    background: #517bb7
}

.share-btn-ptbr:focus {
    background: #433d7e
}

/* Show next-prev page buttons on left and fix shadow */

#blog-pager {
	/*text-align: left;*/
	/*overflow: visible;
	margin: 1em 0;*/
	padding: 0 12px;
}

@media only screen and (max-width: 600px) {
	#blog-pager {
		text-align: center;
	}
}

#blog-pager-outer {
	margin: 0;
}

/* Fix main title positioning */
nav .brand-logo.logo-main {
	font-size: 1.5rem;
	left: auto;
    -webkit-transform: none;
    transform: none;
}
@media only screen and (min-width: 601px) {
	nav .brand-logo.logo-main {
		padding: 0 18px;
	}
}
@media only screen and (max-width: 600px) {
    nav .brand-logo.logo-main {
        font-size: 1.4rem;
        left: 54px;
    }
}

/* True fixed navbar */
.navbar-fixed {
	position: fixed;
	width: 100%;
}

.navbar-fixed nav {
	position: static;
}

#main-scrollarea {
	margin-top: 64px;
}

@media (max-width: 600px), (max-width: 992px) and (min-width: 601px) and (max-height: 519px) {
	#main-scrollarea {
		margin-top: 0;
		margin-bottom: 56px;
	}
}

/* Make room for fixed sidenav */
@media only screen and (min-width: 993px) and (max-width: 1576px) {
	.container {
		margin-left: 300px;
	}
	header.container nav.container {
		margin: 0;
	}
}

/* Make room for navigation rail */

@media only screen and (min-width: 601px) and (max-width: 992px) and (min-height: 520px) {
	.container {
		margin-left: 86px;
	}
	header.container nav.container {
		margin: 0;
	}
}

.page-footer {
	z-index: 101;
}

/* Fix empty line at the bottom of the page */
.main-body {
	padding: 0;
}

/* Pill navbar item highlights */
.sidenav li {
	padding-right: 24px;
}
.sidenav li.active {
	background-color: transparent;
}
.sidenav li > a {
	border-radius: 0 24px 24px 0;
}

/* Enbolden navbar item for current view */
.sidenav li.active > a {
	/*font-weight: bold;*/
	color: #C62828;
	background-color: rgba(0,0,0,0.05);
}

.sidenav li.active>a>i, .sidenav li.active>a>[class^="mdi-"], .sidenav li>a li.active>a>[class*="mdi-"], .sidenav li.active>a>i.material-icons {
	color: #C62828;
}

.sidenav li > a > svg {
	float: left;
	height: 48px;
	line-height: 48px;
	margin: 0 32px 0 0;
	width: 24px;
	fill: rgba(0,0,0,0.54);
}

.sidenav li.active > a > svg {
	fill: #C62828;
}

/* Make all those div clears everywhere work */
div.clear {
	clear: both;
}

/* Hide nav elements on print */
@media only print {
	nav, .sidenav, #blog-pager, #footer-nav, .modal, .share-btns, #related-posts, #donation-card, #comments, .pagination,
	.google-auto-placed, .adsbygoogle, script, ins, .navigation-rail {
		display: none !important;
	}
	#tab-contents > * {
		display: block !important;
	}
	.card-image {
		max-width: 100%;
		height: auto;
	}
    .main-body, #main-scrollarea, .post-single-outer, .blog-posts {
        padding: 0;
        margin: 0;
    }

    .post-labels > a {
        margin-right: 1ch;
    }

    h1, h2, h3, h4, h5, h6, img, .post-title, *[class^="post-header"] {
        page-break-after:avoid; 
        page-break-inside:avoid;
    }

    h4 {
        font-size: 2.28rem;
        line-height: 110%;
        margin: 1.52rem 0 .912rem 0;
    }

    h5 {
        font-size: 1.64rem;
        line-height: 110%;
        margin: 1.0933333333rem 0 .656rem 0;
    }

    h6 {
        font-size: 1.15rem;
        line-height: 110%;
        margin: .7666666667rem 0 .46rem 0;
    }

    .collection .collection-item {
        display: block;
        padding: 10px 20px;
        border-bottom: 1px solid #000000;
    }
    /* Serif fonts work better on paper */
    html, button, input, optgroup, select, textarea {
        font-family: 'Roboto Slab', Georgia, serif;
    }
    h1, h2, h3, h4, h5, h6, .brand-logo, .card-title {
        font-family: 'Merriweather', 'Lucida Bright', serif;
    }

    .dc-list-pos .dc-list-no {
        font-family: 'Merriweather', 'Lucida Bright', serif;
    }
}

/* Extend circle class to work with Picture tag */
.circle source, .circle img {
	border-radius: 50%;
}

/* Make card-image class work with picture tag */
/*.card .card-image source {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}*/

/* Make responsive-image class work with picture tag */
source.responsive-img, .responsive-img img, .responsive-img source {
	max-width: 100%;
	height: auto;
}

/* Align post comment count on right on tablet and desktop */
@media (min-width: 601px) {
	.post-comment-link {
		float: right;
	}
}

.post-author + .post-comment-link {
	float: right;
}

/* Sidenav styling on large screens */
.sidenav.sidenav-fixed {
	top: 56px;
	padding-top: 8px;
	z-index: 996;
}
.sidenav.sidenav-fixed .divider {
    margin-bottom: 8px;
}
.sidenav-overlay {
	z-index: 995;
}
.sidenav .user-view {
	display: none;
}
@media only screen and (min-width: 601px) {
	.sidenav.sidenav-fixed {
		top: 64px;
	}
}
nav #sidenav-trigger {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
	outline: none;
    -webkit-tap-highlight-color: transparent;
}

nav #sidenav-trigger > .ripple {
    padding: 0 15px;
}


@media only screen and (min-width: 993px) {
    .sidenav {
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}

/* Fix padding of post cards on index pages */
.blog-posts-index {
	padding: 0 12px;
}

.post-outer-index .post-start.row {
	margin-left: 0;
	margin-right: 0;
}

/* For light/dark theming of Disqus panel */
html {
	content: "";
}
@media (prefers-color-scheme: light) {
	html {
		content: "light";
	}
}
@media (prefers-color-scheme: dark) {
	html {
		content: "dark";
	}
}
@media (prefers-color-scheme: no-preference) {
	html {
		content: "no-preference";
	}
}

/* For smooth scroll/not for scroll to top button */
body {
	content: "";
}
@media (prefers-reduced-motion: reduce) {
	body {
		content: "reduce";
	}
}

/* SVG icons */
.footer-svg {
	width:15px;
	margin:-3px 0;
	filter: invert(100%);
}

.share-btn-svg {
	width: 20px;
	margin: -4px 0;
	filter: invert(100%);
}

.follow-list-svg {
	width: 13px;
	margin: -1px 0;
	filter: invert(51%) sepia(82%) saturate(396%) hue-rotate(125deg) brightness(92%) contrast(85%);
}

/* Side rail navigation for tablet displays */
.navigation-rail {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 64px;
    z-index: 100;
    padding-top: 21px;
}

.rail-item {
    color: inherit;
    padding: 0;
    align-items: center;
    border-radius: 0 24px 24px 0;
    cursor: pointer;
    display: flex;
    line-height: 24px;
    margin-right: 8px;
    text-align: center;
    position: relative;
    margin-left: 2px;
    outline: none;
}

.rail-item-icon {
    width: 76px;
    height: 76px;
    transition: background .3s;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 0;
    line-height: 24px;
}

.rail-item-icon:hover, .rail-item-icon:focus {
    background-color: rgba(0,0,0,0.05);
}

.rail-icon-outer {
    position: relative;
    top: 50%;
}

.rail-icon-inner {
    top: -12px;
    display: inline-block;
    position: relative;
}

.rail-icon-inner i, .rail-icon-inner svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-top: -18px;
    vertical-align: middle;
    outline: none;
}

.rail-item-label {
    left: 0;
    margin-top: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 46px;
    letter-spacing: .01785714em;
    font-weight: 500;
    line-height: 1.25rem;
    font-size: 0.75rem;
}

.rail-item.active {
    color: #f44336;
	fill: #f44336;
}

/* Fix for Disuqs not loading theme correctly */
.card-panel:not(.z-depth-0) {
	color: rgba(0,0,0,0.87);
}

/* Force Google AdSense's absolutely in no way responsive ads that they call responsive because clearly Google has no clue what that even means to at least not completely break actual responsive layouts */
/*.google-auto-placed {
   overflow-y: hidden;*/ /* Also, that this works is a testament to just how weird the CSS overflow property actually behaves in practice *//*
}*/
.blog-posts {
	overflow-x: hidden;
}

/* Bring legacy breadcrumb displays down to one line without having to go back and rewrite every single one by hand */
.nav-breadcrumbs.hide-on-noscript {
	display: none;
}

/* SVG icons in navbar */
.navbar-fixed ul:not(.sidenav) li {
	height: 56px;
}
.nav-svg {
	height: 56px;
	line-height: initial;
}
.nav-svg svg {
	height: 56px;
	line-height: 56px;
	fill: #fff;
}
@media only screen and (min-width: 601px) {
	.navbar-fixed ul:not(.sidenav) li {
		height: 64px;
	}
	.nav-svg {
		height: 64px;
		line-height: initial;
	}
	.nav-svg svg {
		height: 64px;
		line-height: 64px;
	}
}
/*@media only screen and (max-width: 340px) {
	nav .right .nav-svg {
		padding: 0 10px;
	}
}*/

.btn svg {
	fill: #fff;
	height: 36px;
	line-height: 36px;
}
.post-header svg, .post-header-home svg {
    vertical-align: middle;
    margin-top: -3px;
}
.page-footer svg {
    width: 0.9375em;
    height: 0.9375em;
    margin: -0.1875em 0;
}
.page-footer #issue-tracker svg {
    width: 0.93755em;
    height: 0.93755em;
    margin: -0.078125em 0;
}
.btn-floating.btn-large svg {
    height: 56px;
    line-height: 56px;
    fill: #fff;
}
.share-btns svg {
    height: 20px;
    width: 20px;
    margin: -4px 0;
}
.breadcrumb:not(:first-child) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 0 24 24" width="25" fill="rgba(255,255,255,0.7)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/></svg>');
    background-repeat: no-repeat;
    background-size: 1.4em;
    background-position: 0.45em;
    padding-left: 2.4em;
}
.breadcrumb:before {
    content: '' !important;
    margin: 0 !important;
}
.pagination li svg {
    fill: rgb(68, 68, 68);
    width: 1.5625em;
    height: 1.5625em;
}
.pagination li.disabled svg {
    fill: #999;
}
.collection .collection-item.avatar:not(.circle-clipper)>.svg-circle, .collection .collection-item.avatar :not(.circle-clipper)>.svg-circle {
    line-height: 42px;
    background-color: #999;
}
.collection .collection-item.avatar .circle svg {
    fill: #fff;
    margin: 12px;
}
.follow-list svg {
    width: 13px;
    margin: -1px 0;
    fill: #26a69a;
}

/* For very special cases */
.tabs-loaded .show-on-light-theme-only {
	display: block;
}

.tabs-loaded .show-on-dark-theme-only {
	display: none !important;
}

/* Used for using IntersectionObserver to check how far down we've scrolled instead of spamming onscroll events */
#pixel-to-watch {
	position: absolute;
	width: 1px;
	height: 250px;
	top: 0;
	left: 0;
}

/* Swap out simple search for popup search button when JS is loaded */
#search-modal-button {
    display: none;
}

.search-loaded #search-nojs {
    display: none;
}

.search-loaded #search-modal-button {
    display: inline-block;
}

/* Indicator that sidenav button is not ready */
.nav-svg .progress {
    position: absolute;
    top: 32px;
    width: 24px;
}

.nav-svg.disabled {
    pointer-events: none;
	cursor: default;
	opacity: .38;
}

.nav-svg:not(.disabled) .progress {
	display: none;
}

/* Dark theme iconic toggle */
#theme-button-auto, #theme-button-dark, #theme-button-light,
#theme-label-auto, #theme-label-dark, #theme-label-light {
	display: none;
}

.auto-theme-set #theme-button-auto,
.auto-theme-set #theme-label-auto {
	display: inline-block;
}

.dark-theme-set #theme-button-dark,
.dark-theme-set #theme-label-dark {
	display: inline-block;
}

.light-theme-set #theme-button-light,
.light-theme-set #theme-label-light {
	display: inline-block;
}

/* Should or should not be displayed with m=1 parameter is set */
.mobilerequest .desktop-only {
	display: none !important;
}
.nomobilerequest .mobile-only {
	display: none !important;
}

/* CSS-only animated tooltips that replace JavaScript version with identical appearance and behavior */
.reveal-labelled {
    position: relative;
}

.fixed-action-btn.reveal-labelled {
    position: fixed;
}

.collection.with-reveal-labels {
    overflow: visible;
}

.reveal-label {
    visibility: hidden;
    max-height: 0;
    height: auto;
    position: absolute;
    opacity: 0;
    background: inherit;
    background-color: #323232;
    color: #fff;
    text-align: center;
    white-space: nowrap;

    padding: 10px 8px;
    font-size: 1rem;
    z-index: 2000;
    border-radius: 2px;
    min-height: 36px;
    line-height: 120%;
    max-width: calc(100vw - 4px);
    overflow: hidden;
    pointer-events: none;
    transition: .25s ease;
}

.reveal-label-up {
    bottom: calc(100% + 5px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.reveal-label-down {
    top: calc(100% + 5px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.reveal-label-left {
    right: calc(100% + 5px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.reveal-label-right {
    left: calc(100% + 5px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fixed-action-btn.reveal-labelled .reveal-label-left {
    top: calc(50% + 7.5px);
}

.reveal-labelled:hover .reveal-label,
.reveal-labelled:focus .reveal-label {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transition: .3s ease;
}

.reveal-labelled:hover .reveal-label-up,
.reveal-labelled:focus .reveal-label-up {
    bottom: calc(100% + 15px);
}

.reveal-labelled:hover .reveal-label-down,
.reveal-labelled:focus .reveal-label-down {
    top: calc(100% + 15px);
}

.reveal-labelled:hover .reveal-label-left,
.reveal-labelled:focus .reveal-label-left {
    right: calc(100% + 15px);
}

.reveal-labelled:hover .reveal-label-right,
.reveal-labelled:focus .reveal-label-right {
    left: calc(100% + 15px);
}

.reveal-labelled.reveal-delay:hover .reveal-label,
.reveal-labelled.reveal-delay:focus .reveal-label {
    transition-delay: .5s;
}

/* Special case for FAB on touch devices, since it retains focus after fading out, so the label normally remains visible */
html:not(.no-js) #backToTopBtnContainer:not(.visible) .reveal-label {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    transition: .25s ease;
    right: calc(100% + 5px);
}

/* Make btn-flat hoverable, as it should be */
.btn-flat:hover, .btn-flat:focus {
	background-color: rgba(0,0,0,0.1);
}

/* Reddified buttons should be hoverable, too */
.btn.red:hover, .btn-large.red:hover, .btn-small.red:hover,
.btn.red:focus, .btn-large.red:focus, .btn-small.red:focus {
    background-color: #FF8A80 !important;
}

/* Bottom bar with CSS-only sidenav */
.nav-wrapper #menu-toggle {
	display: none;
}

@media (max-width: 600px), (min-width: 601px) and (max-width: 992px) and (max-height: 519px) {
	
	.navbar-fixed {
		bottom: 0;
		height: 56px;
	}
	
	.navbar-fixed nav, .navbar-fixed ul:not(.sidenav) li, .nav-svg, .nav-svg svg {
		height: 56px;
		line-height: 56px;
	}
	
	.brand-logo.logo-main {
		display: none;
	}
	
	.navigation-rail {
		display: none;
	}
	
	.fixed-action-btn {
		bottom: 79px;
	}

	@media (min-width: 380px) {
	
		.fixed-action-btn {
			bottom: 28px;
			right: calc(50vw - 28px);
			z-index: 998;
		}
		
		#main-scrollarea {
			margin-bottom: 84px;
		}
		
	}

	.nav-wrapper:after {
		content: ""; display: table; clear: both;
	}

	.nav-wrapper .menu-container {
		position: absolute;
	}

	.nav-wrapper .menu-button {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		cursor: pointer;
		display: block !important;
	}
	
	.sidenav.sidenav-fixed {
		top: auto;
		bottom: 56px;
		padding-top: 0;
		padding-bottom: 0;
		width: 100%;
		height: fit-content;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		overflow: hidden;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	#slide-out {
		max-height: 0;
		transition: max-height 0.2s cubic-bezier(0,0,0.3,1);
	}
	
	.nav-wrapper #menu-toggle.active ~ #slide-out, .nav-wrapper #menu-toggle:checked ~ #slide-out {
		max-height: 330px;
		transition: max-height 0.25s cubic-bezier(0,0,.3,1);
	}
	
	.sidenav li {
		padding-left: 24px;
	}
	
	.sidenav li:first-child {
		margin-top: 8px;
	}
	
	.sidenav li:last-child {
		margin-bottom: 8px;
	}
	
	.sidenav li > a {
		border-radius: 6px;
	}
	
	.nav-wrapper .menu-button:after {
		bottom: 56px;
		opacity: 0;
		content: "";
		width: 100vw;
		display: block;
		position: fixed;
		height: 120vh;
		background: rgba(0, 0, 0, 0.5);
		content: "";
		pointer-events: none;
		transition: opacity 0.2s cubic-bezier(0, 0, 0.3, 1);
		z-index: 995;
	}
	
	.nav-wrapper #menu-toggle.active ~ .menu-button:after, .nav-wrapper #menu-toggle:checked ~ .menu-button:after {
		opacity: 1;
		pointer-events: auto;
		cursor: default;
		transition: opacity 0.25s cubic-bezier(0, 0, 0.3, 1);
	}
}

@media (max-height: 374px) {
	.sidenav-rss {
		display: none;
	}
	
	.sidenav-follow {
		margin-bottom: 8px;
	}
	
	.nav-wrapper #menu-toggle.active ~ #slide-out, .nav-wrapper #menu-toggle:checked ~ #slide-out {
		max-height: 275px;
	}
}

@media (max-height: 328px) {
	.sidenav-rss {
		display: none;
	}
	
	.sidenav-follow {
		display: none;
	}
	
	.sidenav li div.divider {
		display: none;
	}
	
	.sidenav-about {
		margin-bottom: 8px;
	}
	
	.nav-wrapper #menu-toggle.active ~ #slide-out, .nav-wrapper #menu-toggle:checked ~ #slide-out {
		max-height: 210px;
	}
}

/* CSS-only material wave effect */
.ripple {
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.ripple:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform .5s, opacity 1s;
}
.ripple.ripple-light:after {
	background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
}
.ripple.ripple-teal:after {
	background-image: radial-gradient(circle, #009688 10%, transparent 10.01%);
}

.ripple:active:after {
	transform: scale(0, 0);
	opacity: .2;
	transition: 0s;
}
.ripple.ripple-light:active:after {
	opacity: .45;
}
.ripple.ripple-teal:active:after {
	opacity: .7;
}

/* Detective Conan Important Episode List page selection */
.tabs-loaded > *:not(span) {
	display: none;
}

.tabs-loaded.tabintro > #tabintro {
	display: block;
}

.tabs-loaded.tabstats > #tabstats {
	display: block;
}

.tabs-loaded.tabfaq > #tabfaq {
	display: block;
}

.tabs-loaded.tab00 > #tab00 {
	display: block;
}

.tabs-loaded.tab100 > #tab100 {
	display: block;
}

.tabs-loaded.tab200 > #tab200 {
	display: block;
}

.tabs-loaded.tab300 > #tab300 {
	display: block;
}

.tabs-loaded.tab400 > #tab400 {
	display: block;
}

.tabs-loaded.tab500 > #tab500 {
	display: block;
}

.tabs-loaded.tab600 > #tab600 {
	display: block;
}

.tabs-loaded.tab700 > #tab700 {
	display: block;
}

.tabs-loaded.tab800 > #tab800 {
	display: block;
}

.tabs-loaded.tab900 > #tab900 {
	display: block;
}

.tabs-loaded.tab1000 > #tab1000 {
	display: block;
}

.tabs-loaded.tabupcoming > #tabupcoming {
	display: block;
}

#tab-contents > ul,
#tab-contents > dl,
#tab-contents > dl > dd {
	margin: 0;
}

/* The auto-placed ads that take up the entire freaking screen need to go */
/*@media (min-width: 993px) {
	.main-post-body .google-auto-placed,
	.main-post-body .google-auto-placed * {
		max-height: 30vh;
		overflow: hidden;
	}
}*/

/* CSS-only click-to-fullscreen images */
.image-zoom-toggle {
	display: none;
}

.image-zoom-image {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	display: block;
	width: fit-content;
}

.image-zoom-image img {
	height: auto;
	width: auto;
	cursor: zoom-in;
	transition: opacity 0.4s;
	will-change: left, top, width, height, margin;
}

.image-zoom .image-zoom-toggle:not(:checked) ~ .image-zoom-image img:hover {
	opacity: 0.8;
}

.image-zoom .image-zoom-toggle:checked ~ .image-zoom-image img {
	position: fixed;
	top: 0;
	left: 0;
	height: 90vh !important;
	width: 90vw !important;
	margin: 5vh 5vw;
	max-width: none;
	object-fit: contain;
	cursor: zoom-out;
	z-index: 1001;
	opacity: 1;
}
.image-zoom .image-zoom-image:after {
	opacity: 0;
	top: 0;
	left: 0;
	content: "";
	width: 100vw;
	display: block;
	position: fixed;
	height: 120vh;
	background: #292929;
	pointer-events: none;
	z-index: 1000;
	will-change: opacity;
}

.image-zoom .image-zoom-toggle:checked ~ .image-zoom-image:after {
	opacity: 1;
	pointer-events: auto;
}


/* CSS-based fade-in-out animation for back-to-top button */
#backToTopBtnContainer {
    pointer-events: none;
}

#backToTopBtnContainer #backToTopBtn {
    opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

#backToTopBtnContainer.visible {
    pointer-events: auto;
}

#backToTopBtnContainer.visible #backToTopBtn {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fixed-action-btn .btn-floating.grey:hover, .fixed-action-btn .btn-floating.grey:focus {
    background-color: #BDBDBD !important;
}

/* Keep next/prev paginators at ends */
.pageprev {
	float: left;
}
.pagenext {
	float: right;
}

/* Better footer tap targets and contrast */
.page-footer {
    background-color: #F5F5F5;
}

.page-footer, .page-footer * {
    color: inherit;
}

.page-footer .footer-copyright {
    color: inherit;
}

.page-footer #footer-nav li {
    padding: 0 15px 15px 0;
}

.page-footer #footer-nav li a,
.page-footer #footer-nav #issue-tracker a {
    color:#616161;
    fill: #616161;
}

.page-footer #footer-nav li a:hover,
.page-footer #footer-nav li a:focus,
.page-footer #footer-nav #issue-tracker a:hover,
.page-footer #footer-nav #issue-tracker a:focus {
    color:#212121;
    fill: #212121;
}

/* dotted underline text decoration is buggy, despite being used by the browser itself by default: switch to border */
abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
}

/* Scrollbars */
@media (hover) {
	/* width */
	::-webkit-scrollbar {
		width: 0.75rem;
		height: 0.75rem;
	}
	
	/* Arrow buttons */
	.Tm::-webkit-scrollbar-button {
		width: 0;
		height: 0;
		display: none;
	}

	/* Track */
	::-webkit-scrollbar-track:vertical {
		background-clip: padding-box;
	}
	
	::-webkit-scrollbar-track {
		border: none;
	}

	/* Track on hover */
	::-webkit-scrollbar-track:hover,
	::-webkit-scrollbar-track:active {
		background-color: rgba(0, 0, 0, 0.05);
	}
	
	::-webkit-scrollbar-track:vertical:hover {
		-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.10);
	}
	
	::-webkit-scrollbar-track:horizontal:hover {
		-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.10);
	}

	::-webkit-scrollbar-track:vertical:active {
		-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.14), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
	}

	::-webkit-scrollbar-track:horizontal:active {
		-webkit-box-shadow: inset -1px 1px 0 rgba(0, 0, 0, 0.14), inset 1px -1px 0 rgba(0, 0, 0, 0.07);
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.2);
		border: none;
		-webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
	}

	:-webkit-scrollbar-thumb:vertical {
		background-clip: padding-box;
		min-height: 1.75rem;
	}
	
	::-webkit-scrollbar-thumb:horizontal {
		background-clip: padding-box;
		min-width: 1.75rem;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(0, 0, 0, 0.4);
		-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
	}

	::-webkit-scrollbar-thumb:active {
		background-color: rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
	}
	
	/* In case there's an unexpected horizontal on a main pane mostly */
	::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}

/* Details pulldown indicators on Detective Conan Episode List to keep list items aligned */
#tab-contents summary {
    text-indent: -17px;
}



/* Stuff moved from template-skin for brevity */
@media (min-width:1200px) {
    .container {
        max-width: 960px
    }
}

@media only screen and (max-width:600px) {
    .container {
        width: 100%
    }
}

.col-padding-0 {
    padding: 0!important
}

div.collapsible-body ul li {
    text-overflow: ellipsis!important;
    overflow: hidden;
    white-space: nowrap
}

/* Smooth Scrolling */
html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* Begin Noscript */
/* Show back to top button always */
.no-js #backToTopBtnContainer {
    pointer-events: auto;
}
.no-js #backToTopBtnContainer #backToTopBtn {
	opacity: 1;
}


/* Hide JS navbar elements */
.no-js .hide-on-noscript {
  display: none !important;
}
@media only screen and (max-width: 600px) {
  .no-js .hide-on-noscript-small {
	display: none !important;
  }
  
  /*.no-js nav ul a {
	padding: 0 12px;
  }*/
}
@media only screen and (min-width: 601px) {
	.no-js nav .brand-logo.logo-main {
		padding: 0 18px;
	}
}
/* End Noscript */

